body{
    background: #333;
    color: #fff;
}





.navbar{
    border-bottom: 3px solid rgb(0, 217, 255);
    background: black;
    opacity: 0.6;
}

#home-section{
    background: url('/img/nature2.jpg') no-repeat  ;
    background-size: cover;
    background-attachment: fixed;
    min-height: 900px;

   
}
.dark-overlay{
    background: rgba(0,0,0,0.7);
    min-height: 900px;
}
.home-inner{
    padding-top: 150px;
    padding-bottom: 50px;
}

.fa{
   background: brown;
   padding: 5px;
   font-size: 30px;
}
